# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Tools
.mypy_cache/
.ruff_cache/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project outputs
*.dts
